<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
 <h1>Incorporating a function <%= add_nums(2,3) %></h1>
  This is the home page for the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</p> 
